<ion-content class="login-container">
  <div class="login-box">
    <h2>Iniciar Sesión</h2>

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Usuario" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" class="login-button">Ingresar</ion-button>

    <div class="links">
      <a href="#">¿Olvidaste tu contraseña?</a>
      <a href="#">Registrarse</a>
    </div>
  </div>
</ion-content>


